<img src = "/images/burger-flat.png" class = "img-responsive center-block" alt="burger">
</img>
<h1 class = "text-center">Eat Da Burger!</h1>


<div class= "col-md-12">

	<div class = "col-md-6">
		{{#each burger}}
		{{#unless this.devoured}}
		<div class = "well">
		
			<p> {{this.id}}. {{this.burger_name}}</p>
			
			<form action="/{{this.id}}?_method=PUT" method="POST">
         	 <input type="hidden" name="devoured" value="false">
        	  <button type="submit" class = "btn btn-success">Devour</button>
       		 </form>
			</div>


		{{/unless}}
		{{/each}}
	</div>

	<div class = "col-md-6">
		{{#each burger}}
		{{#if this.devoured}}
		<div class = "well">
			<p> {{this.id}}. {{this.burger_name}}
			</p>
			</div>
		{{/if}}
		{{/each}}
	</div>

</div>



<form action="/" method="POST">
  <div class="form-group">
    <label for="input">Your Burger</label>
    <input type="text" class="form-control" name="input" placeholder="your new Burger">
  </div>
  <button type="submit" class="btn btn-default" id="submit">Submit</button>
</form>

